# ========================
# Node / NPM / Yarn
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Build / Dist
# ========================
dist/
build/
.out/

# ========================
# Env
# ========================
.env
.env.*

# ========================
# Prisma
# ========================
server/prisma/generated/
*.db

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Test / Coverage
# ========================
coverage/

# ========================
# Cache
# ========================
.cache/
